body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, rgb(245, 149, 144), rgb(245, 172, 112), rgba(119, 193, 246, 0.918));
}

.yuma{
    width: 10px;
}
 /* .navbar{
    background-color: black;
   color: white;
    height: 70px;
    position: relative;
    bottom: 22px;
}
h1{
    text-align: center;
    justify-content: center;
    position: relative;
    top: 9px;
    font-size: 50px;
} */
  /* ul{
     height: 100px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 500px;
   position: relative;
   top: -15px;
   font-size: 30px;
   cursor: pointer;

}   */

.navbar{
    background: black;
    padding: 10px 10px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2{
    color: white;
    font-size: 30px;
    font-style: italic;
}

.search-box{
    display: flex;
    gap: 10px;
}

.search-box input{
    padding: 10px;
    
    width: 250px;
    border: none;
    border-radius: 5px;
}

.search-box button{
    padding: 10px 20px;
    border: none;
    background: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.dop{
   position: relative;
   left: 500px;
   bottom: -130px;
   height: 300px;
   border: 5px,black,solid;
    justify-content: center;
    width: 500px;
}
.yoyo:hover{
   
    opacity: 0.5;
    cursor: pointer;
}
.hoho:hover{
    opacity: 0.5;
    cursor: pointer;
}
.toto:hover{
    opacity: 0.5;
    cursor: pointer;
}
.umee{
    position: relative;
    top: 300px;
    left: 40px;
  
   
   
}
.noop{
    color: azure;
}
.rubi{
   position: relative;
   right: 400px;
   
    bottom: 290px; 
   
}
.nibi{
   position: relative;
    left: 500px; 
   position: relative;
   bottom: 630px;
  

}
.REMI{
    position: relative;
    left: -435px;
    bottom: 1190px;
    
}
.ahon{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 50px;
    border: 5px,black,solid;

}
.ahon:hover{
    background-color: rgb(204, 202, 202);
    cursor: pointer;
}
 /* .roop{
    border: 5px,black,solid ;
    cursor: pointer;
}
.hoop{
   border: 5px,black,solid ;
    cursor: pointer; 
}
.loop{
    border: 5px,black,solid ;
    cursor: pointer;
}
.noop{
    border: 5px,black,solid ;
    cursor: pointer;
}  */
.card{
    width: 300px;
    background: #fefcfc;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.card img{
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    size: 20px;
}

.card h2{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
}



 /* .rope{
    width: 300px;
    background: #fefcfc;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.rope img{
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.rope h2{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
}  */

/* .rope p{
    
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
} */
 .shup{
    position: relative;
    bottom: 1150px;
    left: -450px;
 }
 .hmm{
   position: relative;
    bottom: 1660px;
    left: 47px;
 }
 .roti{
    position: relative;
    bottom: 2190px;
    left: 500px;
 }
